.layout{
  display: flex;
}

#sidebar-wrapper{
  height: 100%;
  width: 200px;
 
}

.main {
  width: 100%;
  padding-top: 1%;
  padding-right: 1%;
  background-color: white;
}

.home{
  text-align: center;
  font-size: 40px;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: black;
}

.listItem:hover{
  background-color: rgb(190, 155, 223);
}

.loader{
  position: fixed;
  left: 50%;
  top: 35%;
  }